<div class="container">
  <div class="row">

    <p id="notice"><%= notice %></p>

    <h1>Tasks</h1>

    <div class="row">

    <% @tasks.each do |task| %>
    <div class="card" style="width: 18rem;">
      <img src="<%= task.photo %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= task.name %></h5>
        <%= link_to 'Show', task %>

      <% if user_signed_in? %>
        <% if current_user.taskcompleteds.find_by(task_id: task.id) %>
          <%= link_to "Cancelar", task_taskcompleted_path(task, current_user), class:'btn btn-warning', method: :delete %>

          <% else %>
          <%= link_to "Completar", task_taskcompleteds_path(task), class:'btn btn-primary', method: :post %>

        <% end %>
      <% end %>

      </div>

   </div>
   <% end %>

   </div>

  </div>
</div>


<br>
